@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel__slider
    margin-right: 20px
    width: 590px
  .hotel
    &-slider
      &__image
        width: 100%
        height: 100%
        object-fit: cover
  .card
    width: 230px
    height: 230px
  .footer
    &__input
      &-group
        flex-basis: 100%
    &__button   
      &__box
        width: 100%
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
  .modal
    &__dialog
      width: 478px
      padding: 40px
    &__info
      margin-left: 139px
@media (max-width:992px)
  .container,
  .newsletter-wrapper
    max-width: 700px
  .logo
    width: 132px 
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto
    &-menu
      padding-top: 22px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
  .seacrh
    &__input
      width: 340px
  .hotel
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
    &-slider
      width: 100%
  .booking
    width: 340px
  .map
    width: 347px
    height: 225px
    iframe
      height: 225px
    img
      height: 225px
    &__overlay
      padding: 97px
  .reviews
    &-slider
      &__item
        max-width: 580px
  .activities
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    width: 340px
    height: 250px
  .footer
    &-wrapper
      grid-template-columns: repeat(6, 1fr)
      grid-row-gap: 40px
    &__input
      &-group
        flex-basis: 48%
    &__logo
      grid-row: 1 / 2
      grid-column: span 2
    &__social
      &-network
        grid-row: 1 / 2
        grid-column: span 4
        align-self: center
    &__categories
      grid-row: 2 / 3
      grid-column: span 2
    &__legal
      grid-column: span 2
    &__additional
      grid-column: span 2
    &__contact
      &-details  
        grid-column: span 5
        grid-row: 3
      &-form
        grid-column: span 5
        grid-row: 4  
    &__button   
      &__box
        width: 100%
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
    &__disclaimer
      grid-column: span 6 
      width: 100%
      &__list
        padding-left: 0
        margin-left: 0
      &__payments     
  .modal
    &__dialog
      width: 378px
    &__info
      margin-top: 10px
      margin-left: 39px
@media (max-width: 768px)
  .container,
    max-width: 576px
    width: 92%
  body
    padding-top: 78px
  .navbar
    &--mobile
      &_fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 99
    &__user, &__search
      &--mobile
        &_hidden
          display: none
        &_visible
          display: flex
    &__user
      flex-direction: column
      justify-content: center
    &-bottom
      display: none
      position: fixed
      left: 0
      right: 0
      bottom: 0
      top: 78px
      padding-top: 30px
      &--visible
        display: block
    &-menu
      flex-direction: column
      &__item
        margin-bottom: 20px
        &--mobile
          &_visible
            display: block  
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: center
      flex-direction: column
      justify-content: space-between
      border: none
      background-color: #fff
      cursor: pointer
      outline: none
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .user
    &__name
      &--light
        color: $light
        margin-left: 0
        margin-top: 10px
  .stars
    flex-basis: auto
    margin-bottom: 5px
    margin-right: 7px
  .hotel
    padding-top: 0px
    &-name
      flex-basis: 100%
    &-wrapper
      padding-top: 0
      justify-content: space-between
    &-info
      padding-right: 20px
      &__text
        width: 100%
      &__description
        margin-top: 15px
      &__name
        margin-top: 0px
        margin-bottom: 0
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
  .hotel
    &-right
      flex-direction: column
      min-height: 450px
    &-slider
      height: 350px
  .newsletter
    &-title
      font-size: 20px
      margin-right: 20px
      &__strong
        font-size: 30px
    &-wrapper
      width: 92%
  .booking
    width: 100%
  .map
    width: 100%
    height: 213px
    iframe
      width: 100%
      height: 213px  
    img
      width: 100%
      height: 213px   
  .reviews
    &__title
      font-size: 30px
    &-slider
      &__item
        padding: 0 30px 30px
        &:after, &:before
          display: none
      &__button
        top: 32px
        &--prev
          left: 50%
          margin-left: -65px
          transform: translate(-50%, 0)
        &--next
          right: 50%
          margin-right: -65px
          transform: translate(50%, 0)
  .activities
    padding-top: 40px
    padding-bottom: 60px
  .card
    width: 49%
    height: 245px
    margin-bottom: 10px
    &__title
      width: 200px 
  .footer
    &__input
      &-group
        flex-basis: 100%
    &__button   
      &__box
        display: flex
        flex-direction: column-reverse
        align-items: flex-start
    &__info
      margin-bottom: 20px
  .modal
    &__dialog
      padding: 30px
@media (max-width: 576px)
  .navbar
    &__search
      &--mobile
        &_visible
          display: flex
          width: 70%
  .logo
    width: 99px
  .hotel
    &__slider
      margin-bottom: 20px
    &-slider
      height: 250px
  .subscribe
    width: 100%
  .newsletter
    padding: 76px 0 83px 0
    &-title
      &__strong
        font-size: 30px
    &__title
      font-size: 18px
      margin-bottom: 37px
  .newsletter
    &-title
      &__strong
        font-size: 36px
    &-wrapper
      flex-direction: column
      width: 92%
      max-width: 576px
      align-items: flex-start
  .reviews
    &__title
      font-size: 22px
  .card
    width: 100%
    &__title
      width: 200px 
  .footer
    &-wrapper
      grid-template-columns: 1fr
    &__logo
      grid-row: 1
      grid-column: 1
    &__social
      &-network
        grid-row: 2
        grid-column: 1
    &__additional
      grid-row: 3
      grid-column: 1
    &__categories
      grid-row: 4
      grid-column: 1
    &__legal
      grid-row: 5
      grid-column: 1
    &__contact
      display: flex
      flex-direction: column
      &-details
        grid-row: 6
        grid-column: span 3
      &-form
        grid-row: 7
        grid-column: span 4
    &__button   
      &__box
        display: flex
        flex-direction: column-reverse
    &__info
      margin-bottom: 20px 
    &__disclaimer
      flex-direction: column
      justify-content: flex-start 
      &__list  
        padding: 0
        margin-left: 0  
      &__payments
        margin-left: 0 
        margin-right: auto 
        margin-top: 10px
  .modal
    &__dialog
      width: 278px
      padding: 20px
    &__button   
      &__box
        display: flex
        flex-direction: column-reverse
        width: 100%
    &__info
      margin-bottom: 20px
      margin-left: 0 
    &__title
      font-size: 16px
    &__input
      &-group
        font-size: 14px
  #map-yandex 
    width: 455px
    height: 225px
// @meia (max-width: 380px)    
//   .container
//     max-width: 340px
//   .subscribe
//     width: 100%
//   .reviews
//     &__title
//       font-size: 14px
//   .footer
//     &__button   
//       &__box
//         display: flex
//         flex-direction: column-reverse
//         align-items: flex-start
//     &__info
//       margin-bottom: 20px
//     &__disclaimer
//       width: 100%
//       display: flex
//       flex-direction: row
//       justify-content: center
//       grid-column: span 4
//       &__list
//         display: flex
//         flex-direction: row
//         list-style: none
//         margin-left: auto
//         &__item
//           margin-right: 40px
//           font-style: normal
//           font-weight: normal
//           font-size: 12px
//           line-height: 15px
//       &__payments
//         margin-left: auto
